<!-- Footer -->
<div class="footer">
  <!-- <ng-container *ngFor="let menu of menus">
    <div *ngIf="menu.children.length > 0" class="footer__links-container">
      <p class="footer__links-title">{{ menu.titleName }}</p>

      <a
        *ngFor="let submenus of menu.children"
        class="footer__link"
        [routerLink]="['/', menu.slug, submenus.slug]"
        >{{ submenus.titleName }}</a
      >

    </div>
  </ng-container> -->

  <div class="footer__links-container">
    <p class="footer__links-title">Solutions</p>
    <a class="footer__link" href="">Dynamics 365</a>
    <a class="footer__link" href="">Dynamics GP</a>
    <a class="footer__link" href="">Dynamics AX</a>
    <a class="footer__link" href="">Dynamics NAV</a>
    <a class="footer__link" href="">Microsoft Azure</a>
    <a class="footer__link" href="">Office 365</a>
    <a class="footer__link" href="">Dynamics 365 Business Central</a>
    <a class="footer__link" href="">Microsoft Sharepoint</a>
  </div>
  <div class="footer__links-container">
    <p class="footer__links-title">Services</p>
    <a class="footer__link" href="">Business Solutions</a>
    <a class="footer__link" href="">Infrastructure & endpoint Managment</a>
    <a class="footer__link" href="">Business Intelligence & Reporting</a>
    <a class="footer__link" href="">Customization & Development</a>
  </div>
  <div class="footer__links-container">
    <p class="footer__links-title">Industries</p>
    <a class="footer__link" href="">Retail</a>
    <a class="footer__link" href="">Public Sector</a>
    <a class="footer__link" href="">Consumer Goods</a>
    <a class="footer__link" href="">Textile & Apparel</a>
    <a class="footer__link" href="">Pharmaceutical</a>
    <a class="footer__link" href="">Banking</a>
    <a class="footer__link" href="">Insurance</a>
    <a class="footer__link" href="">Education</a>
    <a class="footer__link" href="">Energy & Utilities</a>
  </div>
  <div class="footer__links-container">
    <p class="footer__links-title">About us</p>
    <a class="footer__link" href="">Contact</a>
    <a class="footer__link" href="">Company's Profile</a>
    <a class="footer__link" href="">Demo Request</a>
  </div>
  <div class="footer__logos">
    <div class="footer__social-icons">
      <a href=""><img src="../../assets/images/social-icons/facebook.png" alt=""/></a>
      <a href=""><img src="../../assets/images/social-icons/linkedin.png" alt=""/></a>
      <a href=""><img src="../../assets/images/social-icons/twitter.png" alt=""/></a>
    </div>
    <img class="footer__ms-icon" src="../../assets/images/logo/mbs-partner.png" alt="" />
  </div>

  <p class="footer__copyrights">
    Copyright 2019. All rights reserved by TMR Consulting Private Limited. Partners with Microsoft.
  </p>
</div>
