@import "./../../scss/abstracts/mixins";
@import "./../../scss/abstracts/variables";

.blogs-container {
  // ...
  margin-top: 5rem;
  margin-bottom: 5rem;
  // ...
  display: grid;
  grid-template-columns:
    [full-start] 5rem
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end]
    5rem [full-end];
  align-items: start;

  @include respond(tab-port-near) {
    grid-template-rows: max-content max-content;
  }

  &__sidebar {
    grid-column: center-start / col-end 2;
    padding: 3rem;

    @include respond(tab-port-near) {
      grid-column: center-start / center-end;
      grid-row: 2 / 3;
    }

    @include respond(phone) {
      grid-column: full-start / full-end;
    }
  }

  &__content {
    grid-column: col-start 3 / center-end;
    padding: 3rem;

    @include respond(tab-port-near) {
      grid-column: center-start / center-end;
      grid-row: 1 / 2;
    }

    @include respond(phone) {
      grid-column: full-start / full-end;
    }

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem;
  }
}
// ~~~ SEARCHBAR ~~~
.searchbar {
  display: flex;

  box-shadow: 0 1rem 2rem rgba($color-grey, 0.2);

  &__input {
    padding: 1rem;
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid grey;
    background: #fff;
  }
  &__button {
    padding: 1rem 1.5rem;
    background: $color-primary;
    font-size: 2rem;
    border: 1px solid $color-primary;
    border-left: none;
    cursor: pointer;

    // @media (max-width: 1050px) {
    //   padding: 0.5rem 1rem;
    // }

    &:hover {
      i {
        color: $color-secondary;
      }
    }

    i {
      color: $color-grey;
      transition: color 0.2s;
    }
  }
}

// ~~~ List of items ~~~
.list {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  &__title {
    color: $color-primary;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  &__items {
    display: flex;
    flex-direction: column;
  }
  &__item {
    font-size: 1.4rem;
    text-align: start;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: $color-grey;
    letter-spacing: 1.2px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &--active {
      color: $color-secondary;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light;
    }
  }
}
// ~~~ BLOG CARD ~~~
.blog-card {
  display: grid;
  grid-template-rows: 1fr auto auto auto;

  grid-row-gap: 1rem;
  padding-bottom: 2rem;
  border: 1px solid $color-grey-light;
  box-shadow: 0 0.5rem 1rem rgba($color-grey, 0.2);

  & > *:not(&__image) {
    padding: 0 2rem;
    // margin: 0.5rem 0;
  }

  &__image {
    margin-bottom: 1rem;
    // border: 1px solid red;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__date {
    font-size: 1.6rem;
    color: $color-grey;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1rem;
    align-items: center;

    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: $color-grey-light;
    }
  }

  &__title {
    font-size: 2rem;
    text-transform: capitalize;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.6;
    color: $color-grey;

    a {
      padding: 0.1rem 0.5rem;
      font-size: 1.4rem;
      border-bottom: 1px solid $color-grey;
      box-shadow: 0 0.5rem 1rem rgba($color-grey, 0.2);
      background: $color-grey-light-2;
      text-decoration: none;
      color: $color-grey;
      cursor: pointer;

      transition: background 0.3s, box-shadow 0.3s;

      &:hover {
        background: #e2e1e1;
        box-shadow: 0 0.2rem 0.5rem rgba($color-grey, 0.2);
      }
    }
  }
}

// ~~~ PAGINATION ~~~
.blogs-pagination {
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 1.4rem;
}
// ALso pasted a style in styles.scss (applying globally) for bg-color bcz it was not applying here.
