<nav class="navigation">
  <img class="navigation__logo" src="../../assets/images/logo/tmrc-logo.png" alt="TMRC LOGO" />

  <!-- home / solution links will go here... -->
  <div class="navigation__links-container">
    <ul class="navigation__list">
      <!-- <ng-container *ngFor="let menu of menus">
        <li *ngIf="menu.children.length === 0" class="navigation__list-item">
          <a [routerLink]="['/', menu.slug]" class="navigation__link">{{ menu.titleName }}</a>
        </li>

        <li *ngIf="menu.children.length > 0" ngbDropdown class="navigation__list-item">
          <a ngbDropdownToggle class="navigation__link">{{ menu.titleName }}</a>
          <div class="navigation__dropdown-content" ngbDropdownMenu>
            <a
              *ngFor="let subMenu of menu.children"
              ngbDropdownItem
              class="navigation__link"
              [routerLink]="['/', menu.slug, subMenu.slug]"
              >{{ subMenu.titleName }}</a
            >
          </div>
        </li>
      </ng-container> -->

      <li class="navigation__list-item">
        <a class="navigation__link">Home</a>
      </li>

      <li ngbDropdown class="navigation__list-item">
        <a ngbDropdownToggle class="navigation__link">Solutions</a>
        <div class="navigation__dropdown-content" ngbDropdownMenu>
          <a ngbDropdownItem class="navigation__link">Dynamics 365</a>
          <a ngbDropdownItem class="navigation__link">Dynamics AX</a>
        </div>
      </li>
      <li class="navigation__list-item">
        <a class="navigation__link">Services</a>
      </li>
      <li class="navigation__list-item">
        <a class="navigation__link">Industries</a>
      </li>
    </ul>
  </div>
  <!-- Then news icon comes here -->
  <div ngbDropdown class="navigation__alert">
    <i ngbDropdownToggle class="fa fa-bell navigation__alert--toggle" aria-hidden="true">
      <div ngbDropdownMenu class="navigation__dropdown-alert">
        <p class="navigation__dropdown-alert__heading">News</p>

        <a
          *ngFor="let newsObj of news"
          ngbDropdownItem
          [routerLink]="['/news', newsObj.slug]"
          class="navigation__dropdown-alert__item"
        >
          <p class="navigation__dropdown-alert__item-title">{{ newsObj.title | titlecase }}</p>
          <p class="navigation__dropdown-alert__item-date">{{ newsObj.datePosted | date }}</p>
        </a>
      </div>
    </i>
  </div>

  <!-- Then side nav icon, which will be hidden for big screens. -->
</nav>
