@import "./../../scss/abstracts/mixins";
@import "./../../scss/abstracts/variables";
.navigation {
  display: flex;
  align-items: center;

  background: $color-primary;
  border-bottom: 1px solid $color-grey-light;
  padding: 1.5rem 2rem;
  padding-right: 5rem;

  &__logo {
    height: 3.5rem;
    margin-left: 3rem;
  }

  &__links-container {
    margin-left: auto;
    margin-right: 3rem;
    color: white;
  }

  &__list {
    list-style-type: none;
    margin: 0;

    display: flex;
    flex-direction: row;
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    cursor: pointer;
  }

  &__dropdown-content {
    background: $color-primary;
    margin-top: 2.5rem;

    a {
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey;
      }

      &:hover {
        background: $color-secondary;
      }
    }
  }

  &__alert {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;

    // border: 1px solid #fff;
    // padding: 0.5rem 1rem;

    &--toggle::after {
      display: none;
    }
  }

  &__dropdown-alert {
    background: $color-primary;
    margin-top: 2.5rem;
    width: 25rem;
    color: #fff;

    &__heading {
      font-size: 1.6rem;
      padding: 1rem 0;
      margin: 0;
      text-align: center;
      border-bottom: 1px solid $color-grey-light;
      cursor: default;
    }

    &__item {
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
      color: #fff;
      text-decoration: none;

      &:hover {
        background: transparent;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light;
      }
    }

    &__item-title {
      margin: 0;
    }

    &__item-date {
      font-size: 1.3rem;
      color: $color-grey-light;
      margin: 0;
    }
  }
}

.dropdown-toggle::after {
  font-size: 1rem;
}
