@import "./../../scss/abstracts/mixins";
@import "./../../scss/abstracts/variables";

.apply {
  &__container {
    display: grid;
    grid-template-columns:
      [full-start] minmax(5rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
      minmax(5rem, 1fr) [full-end];

    &::before {
      content: "";
      grid-column: full-start / center-start;
      background: $color-grey-light-2;
    }

    &::after {
      content: "";
      grid-column: center-end / full-end;
    }
  }

  &__half {
    background: $color-grey-light-2;
    grid-column: center-start / col-end 3;
    padding: 5rem;
    padding-top: 10rem;

    &__title {
      font-size: 3.5rem;
    }

    &__location {
      font-size: 1.6rem;
      color: $color-grey;
      margin-bottom: 0.5rem;
    }

    &__job-type {
      font-size: 1.6rem;
      color: $color-grey;
      margin-bottom: 0.5rem;
    }
  }

  &__content {
    grid-column: col-start 4 / center-end;
    padding: 5rem;
    padding-top: 10rem;
    // padding-bottom: 5rem;
  }

  &__line {
    font-size: 1.6rem;
  }

  &__form {
    font-size: 1.6rem;
    display: grid;
  }

  &__form-group {
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 1.5rem;
  }
  &__input {
    padding: 0.5rem 1rem;
    display: block;
    width: 50%;

    &::placeholder {
      font-size: 1.4rem;
    }
  }
  &__submit-btn {
    justify-self: center;

    background: $color-primary;
    color: $color-secondary;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    margin-top: 2rem;

    border: none;
    outline: none;
  }
}
