@import "./../../scss/abstracts/mixins";
@import "./../../scss/abstracts/variables";

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 35rem;

  @include respond(phone) {
    width: 40rem;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}
// .mat-toolbar {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;

//   .cross-icon {
//     color: #fff;
//   }
// }

.mat-toolbar.mat-primary {
  background: $color-primary;
  position: sticky;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid $color-grey-light;

  @media (min-width: 960px) {
    padding: 1.5rem 4rem;
  }
}

.mat-drawer {
  right: 0;
  transform: translate3d(100%, 0, 0);
  background: $color-primary;
  padding: 5rem 2.5rem;

  position: fixed;
  height: 100vh;
}
.mat-drawer-content {
  margin-left: 0 !important;
}

@media (min-width: 961px) {
  .sidenav {
    display: none;
  }
}

.nav {
  &__logo {
    height: 3.5rem;

    &--csp {
      margin-left: 2.5rem;
      margin-right: 2.5rem;

      @include respond(phone) {
        display: none;
      }
    }

    &--csp-phone {
      display: none;
      @include respond(phone) {
        display: block;
        margin-top: 2.5rem;
      }
    }
  }
  &__toggle-btn {
    outline: none;
    display: none;
    @media (max-width: 960px) {
      display: block;
      // margin-left: auto;
    }
  }

  &__links-container {
    margin-left: auto;
    margin-right: 3rem;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &__list {
    list-style-type: none;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
  }
  &__list-item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    cursor: pointer;
  }

  &__dropdown-content {
    background: $color-primary;
    margin-top: 2.2rem;

    @include respond(tab-land) {
      margin-top: 2.6rem;
    }

    a {
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey;
      }

      &:hover {
        background: $color-secondary;
      }
    }
  }
}

.sidenav {
  &__list {
    display: grid;
    font-size: 1.6rem;
  }

  &__list-item {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__dropdown-list-item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  // &__list-item-drop {
  //   color: #fff !important;
  //   cursor: pointer;

  //   &:not(:last-child) {
  //     margin-bottom: 1.5rem;
  //   }
  // }

  &__dropdown-content {
    background: $color-primary;
    margin-top: 2.5rem;
    color: #fff;

    a {
      color: #fff;
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey;
      }

      &:hover {
        background: $color-secondary;
      }
    }
  }

  &__imps {
    position: relative !important;
    transform: none !important;
    float: none !important;
    margin-top: 0 !important;
    box-shadow: none !important;

    & > a {
      font-size: 1.6rem !important;
      white-space: pre-line !important;
    }
  }
}
// .mat-drawer-inner-container {
//   padding: 2rem;
// }

// Apply flex settings here
.mat-toolbar-single-row {
  // justify-content: space-evenly;
}

.conti {
  display: grid;
  grid-template-rows: 1fr;
  align-items: end;
}

.dropdown-toggle::after {
  font-size: 1rem;
}

.navigation {
  &__alert {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;

    display: grid;

    @media (max-width: 960px) {
      margin-left: auto;
      margin-right: 1.5rem;
    }

    // border: 1px solid #fff;
    // padding: 0.5rem 1rem;

    &--toggle::after {
      display: none;
    }
  }
  &__dropdown-alert {
    background: $color-primary;
    margin-top: 2.5rem;
    width: 25rem;
    color: #fff;

    @include respond(tab-land) {
      margin-top: 2.9rem;
    }
    @include respond(tab-port) {
      margin-top: 3.4rem;
    }
    @include respond(tab-port) {
      margin-top: 3.4rem;
    }
    @include respond(phone) {
      margin-top: 2.9rem;
    }

    &__heading {
      font-size: 1.6rem;
      padding: 1rem 0;
      margin: 0;
      text-align: center;
      border-bottom: 1px solid $color-grey-light;
      cursor: default;
    }

    &__item {
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
      color: #fff;
      text-decoration: none;
      white-space: pre-line;

      &:hover {
        background: transparent;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light;
      }
    }

    &__item-title {
      margin: 0;
      line-height: 1.7;
    }

    &__item-date {
      font-size: 1.3rem;
      color: #b9b5b5;
      margin: 0;
    }
  }
}

.mat-drawer-container {
  background: white;
}
