$color-primary: #252829;
$color-primary-light: #585858;
$color-secondary: #f48120;

$color-grey: #8d8d8d;
$color-grey-2: #aeacac;
$color-grey-light: #e3e3e3;
$color-grey-light-2: #f3f3f3;

$gradient-1: linear-gradient(
  45deg,
  rgb(16, 16, 16) 0%,
  rgb(6, 6, 6) 29%,
  rgb(28, 25, 29) 29%,
  rgb(21, 20, 21) 33%,
  rgb(31, 31, 31) 33%,
  rgb(15, 9, 23) 47%,
  #252829 47%,
  #252829 100%
);
