<div class="news-container">
  <div class="news-container__single-news">
    <div class="hero-area">
      <h1 class="hero-area__title heading-1">{{ newsObject.title }}</h1>
      <p class="hero-area__date">--{{ newsObject.datePosted | date }} --</p>

      <!-- <h1 class="hero-area__title heading-1">News Heading</h1>
      <p class="hero-area__date">--21 jan, 2017 --</p> -->
      <!-- <img src="../../assets/images/retail.jpg" alt="News Hero Image" /> -->
    </div>
    <div class="news-content" [innerHtml]="newsObject.description">
      <!-- <div class="news-content"> -->
      <p>
        Strength to business by generating effective outcomes; possessing enough capabilities to
        digitally transform the business applications. Manage the workflow of business with
        flexibility & adaptability and accomplish large scale collaboration among multiple
        departments of the firm with real-time insight.
      </p>

      <p>
        Dynamics 365, Cloud-based solution, the combination of Enterprise Resource Planning (ERP)
        and Customer Relationship Management (CRM) giving strength to business by generating
        effective outcomes.
      </p>
    </div>
  </div>
  <div class="news-container__related-news">
    <div class="related-news">
      <p class="related-news__tag">Related News</p>
      <div class="related-news__list">
        <a
          *ngFor="let newsList of news"
          class="related-news__list-item"
          [routerLink]="['/news', newsList.slug]"
        >
          <p class="related-news__title">{{ newsList.title | titlecase }}</p>
          <p class="related-news__date">{{ newsList.datePosted | date }}</p>
        </a>
        <!-- <a class="related-news__list-item">
          <p class="related-news__title">Mango party, next sunday !!!</p>
          <p class="related-news__date">21 jan, 2018</p>
        </a>
        <a class="related-news__list-item">
          <p class="related-news__title">Mango party, next sunday !!!</p>
          <p class="related-news__date">21 jan, 2018</p>
        </a>
        <a class="related-news__list-item">
          <p class="related-news__title">Mango party, next sunday !!!</p>
          <p class="related-news__date">21 jan, 2018</p>
        </a>
        <a class="related-news__list-item">
          <p class="related-news__title">Mango party, next sunday !!!</p>
          <p class="related-news__date">21 jan, 2018</p>
        </a> -->
      </div>
    </div>
  </div>
</div>
