@import "./../../scss/abstracts/mixins";
@import "./../../scss/abstracts/variables";

.news-container {
  // ---
  margin-top: 5rem;
  margin-bottom: 5rem;
  // ---
  display: grid;
  grid-template-columns:
    [full-start] 5rem
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end]
    5rem [full-end];

  align-items: start;

  &__single-news {
    grid-column: center-start / col-end 6;
    padding: 3rem;

    @include respond(tab-port-near) {
      grid-column: full-start / col-end 6;
    }

    @include respond(tab-port-2) {
      grid-column: center-start / center-end;
    }

    @include respond(phone) {
      grid-column: full-start / full-end;
    }
  }
  &__related-news {
    grid-column: col-start 7 / center-end;

    @include respond(tab-port-near) {
      grid-column: col-start 7 / full-end;
      padding-right: 3rem;
    }

    @include respond(tab-port-2) {
      grid-column: center-start / center-end;
      padding: 3rem;
    }

    @include respond(phone) {
      grid-column: full-start / full-end;
    }
  }
}
.related-news {
  color: white;
  background-color: $color-primary;
  box-shadow: 0rem 0rem 1.5rem rgba($color: #000000, $alpha: 0.2);
  margin-top: 10rem;

  @include respond(tab-port-2) {
    margin-top: 0;
  }

  &__tag {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid $color-grey-light;
    margin: 0;
  }

  &__list {
  }

  &__list-item {
    display: grid;
    grid-template-columns: min-content;
    // grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    padding: 0.5rem 1rem;

    text-decoration: none;
    color: #fff;

    font-size: 1.4rem;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light;
    }
  }
  &__list-item::before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: $color-secondary;
    grid-column: 1/ 2;
    grid-row: 1 / -1;
    align-self: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__date {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.hero-area {
  display: grid;
  grid-row-gap: 1rem;
  justify-items: center;

  &__title {
    font-size: 3.5rem;
  }
  &__date {
    font-size: 1.6rem;
    color: $color-grey;
  }

  &::after {
    content: "";
    height: 1px;
    width: 80%;
    margin-top: 1rem;
    background-color: $color-grey-light;
  }
}

.news-content {
  display: grid;
  // padding: 3rem;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2;
    color: $color-primary-light;
    margin-bottom: 2rem;
  }
  img {
    max-width: 100%;
    margin-bottom: 2rem;
    justify-self: center;
  }
}
