<div class="home-container">
  <div class="hero__text-side">
    <h2 class="hero__small-line">Experience</h2>
    <h1 class="hero__big-line">Over Decades</h1>
    <h2 class="hero__small-line">Serving Our Client Requirements</h2>
    <div class="hero__btn-container">
      <a class="hero__btn hero__btn--orange" href="#">Our Profile</a>
      <a class="hero__btn hero__btn--white" href="#">Contact Us</a>
    </div>
  </div>
  <div class="hero__slider">
    <slideshow
      [height]="height"
      [arrowSize]="arrowSize"
      [showArrows]="showArrows"
      [imageUrls]="imageUrlArray"
      [lazyLoad]="imageUrlArray?.length > 1"
      [autoPlayWaitForLazyLoad]="true"
      [showDots]="showDots"
      [dotColor]="dotColor"
      [autoPlay]="autoPlay"
      [autoPlay]="autoPlay"
      [autoPlayInterval]="autoPlayInterval"
    ></slideshow>
  </div>

  <section class="section-who">
    <h2 class="section-line">Who <span class="section-line--orange">we</span> are</h2>

    <div class="section-who__video">
      <iframe *ngIf="whoWeAre.videoLink" [src]="whoWeAre.videoLink"> </iframe>
    </div>
    <div class="section-who__content">
      <p class="section-who__paragraph">
        <!-- TMRC is an associated company of Tariq Mian Ramzan Arshad & Co. Key elements of services
        cover business advisory, management consulting, technology solutions, capacity building and
        finance. We believe in knowledge sharing and performance enhancement of the clients. What
        sets us apart from our competitor Microsoft Partners in Pakistan is the personalized service
        of ERP in Pakistan and close liaison with the clients to understand their needs and offer
        solutions matching those needs. -->

        {{ whoWeAre.textContent }}
      </p>
    </div>
  </section>

  <section class="section-service">
    <h2 class="section-line section-service--line-center">
      Our<span class="section-line--orange"> Services</span>
    </h2>
    <div class="section-service__card section-service__card--1">
      <img class="section-service__icon" src="../../assets/project-management.png" alt="" />
      <h3 class="section-service__heading">Business Solutions</h3>
      <p class="section-service__paragraph">
        We brings the gratitude to the efforts to make it more achievable by involving range of
        departmental solutions into your business, Either on cloud or on-premises, Making process
        automation possible!
      </p>
    </div>

    <div class="section-service__card section-service__card--2">
      <img class="section-service__icon" src="../../assets/firewall.png" alt="" />
      <h3 class="section-service__heading">Business Solutions</h3>
      <p class="section-service__paragraph">
        We brings the gratitude to the efforts to make it more achievable by involving range of
        departmental solutions into your business, Either on cloud or on-premises, Making process
        automation possible!
      </p>
    </div>

    <div class="section-service__card section-service__card--3">
      <img class="section-service__icon" src="../../assets/growth.png" alt="" />
      <h3 class="section-service__heading">Business Solutions</h3>
      <p class="section-service__paragraph">
        We brings the gratitude to the efforts to make it more achievable by involving range of
        departmental solutions into your business, Either on cloud or on-premises, Making process
        automation possible!
      </p>
    </div>

    <div class="section-service__card section-service__card--4">
      <img class="section-service__icon" src="../../assets/customer-support.png" alt="" />
      <h3 class="section-service__heading">Business Solutions</h3>
      <p class="section-service__paragraph">
        We brings the gratitude to the efforts to make it more achievable by involving range of
        departmental solutions into your business, Either on cloud or on-premises, Making process
        automation possible!
      </p>
    </div>
  </section>
</div>
